<div
  class="w-full h-full bg-cover md:bg-[length:150%] bg-center md:bg-top bg-no-repeat bg-[url('../../static/img/about-us/about-us.jpg')]">
  <div class="container mx-auto pt-[500px] pb-[100px] lg:px-10 xl:px-16 bg-no-repeat">
    <div class="flex flex-col justify-between gap-6 max-w-[900px]">
      <h2 class="text-6xl text-[--main-grey] text-start mb-5">
        {{_("TEAM IS OUR STRENGTH")}}
      </h2>

      <p class="text-xl text-start text-[--main-grey]">
        {{_("We are a young unit within the Unmanned Systems Force. Experienced
        commanders and motivated recruits work together here. We are a community
        built on trust, support, and teamwork.")}}
      </p>
    </div>
  </div>
</div>
