<div class="container mx-auto py-20 px-5 lg:px-16">
  <div class="flex items-start gap-12">
    <div class="flex flex-col justify-between gap-16 lg:flex-row">
      <img
        class="sm:hidden translate-y-2/4 intersect:translate-y-0 transition ease-out duration-500 intersect-once"
        src="{{ url_for('static',filename='img/about-us/about-us-mobile-1.png') }}"
        alt="About us" />
      <img
        class="w-1/2 object-contain hidden sm:block -translate-x-2/4 intersect:translate-x-0 transition ease-out duration-500 intersect-once"
        src="{{ url_for('static',filename='img/about-us/about-us-1.png') }}"
        alt="About us" />

      <div class="flex flex-col justify-between gap-6">
        <h2
          class="text-4xl leading-[54px] mobile-range:translate-y-1/4 mobile-range:intersect:translate-y-0 transition ease-out duration-300 desktop:translate-x-2/4 desktop:intersect:translate-x-0 intersect-once">
          {{_("ABOUT US")}}
        </h2>

        <p
          class="leading-5 mobile-range:translate-y-1/4 mobile-range:intersect:translate-y-0 transition ease-out duration-300 desktop:translate-x-2/4 desktop:intersect:translate-x-0 desktop:duration-500 intersect-once">
          <!-- prettier-ignore -->
          {{_("We are the blacksmiths of the future in the newly formed Svarog battalion of Unmanned Systems Forces. Our fire is the source of strength and innovation that drives us forward. As a Phoenix, we are constantly reborn: from a civilian to a warrior, from a novice to a master of unmanned systems. In the flame of challenges, we are hardened, become stronger and ready to defend our common future. Drones, technology and an invincible spirit are our weapons. We are a team united by a single goal. Our path leads to victory through skill, cooperation, and an unquenchable fire in our hearts.")}}
        </p>
      </div>
    </div>
  </div>

  {% include 'separator.html' %}

  <!-- Hide for now -->

  <!-- <div class="flex items-start gap-12">
    <div
      class="frame-border w-max relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
      02
    </div>

    <div class="flex flex-col justify-between gap-16 lg:flex-row">
      <img class="sm:hidden" src="{{ url_for('static',filename='img/about-us/about-us-mobile-2.png') }}"
        alt="About us" />
      <img class="hidden sm:block" src="{{ url_for('static',filename='img/about-us/about-us-2.png') }}"
        alt="About us" />

      <div class="flex flex-col justify-between gap-6">
        <h2 class="text-4xl leading-[54px]">
          {{_("WHAT WE DO?")}}
        </h2>

        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and strengths, you will understand how you
          can most effectively show yourself in the Armed Forces, and you will get During the one-week training, you
          will feel your weaknesses and strengths, you will understand how you can most effectively show yourself in the
          Armed Forces, and you will get During the one-week training, you will feel your weaknesses and strengths, you
          will understand what you can do most effectively in the Armed Forces and you will get")}}
        </p>
      </div>
    </div>
  </div>

  {% include 'separator.html' %}

  <div class="flex items-start gap-12">
    <div
      class="frame-border w-max relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
      03
    </div>

    <div class="flex flex-col justify-between gap-16 lg:flex-row">
      <img class="sm:hidden" src="{{ url_for('static',filename='img/about-us/about-us-mobile-3.png') }}"
        alt="About us" />
      <img class="hidden sm:block" src="{{ url_for('static',filename='img/about-us/about-us-3.png') }}"
        alt="About us" />

      <div class="flex flex-col justify-between gap-6">
        <h2 class="text-4xl leading-[54px]">
          {{_("OUR MISSION")}}
        </h2>

        <p class="leading-leading-5">
          {{_("During the one-week training, you will feel your weaknesses and strengths, you will understand how you
          can most effectively show yourself in the Armed Forces, and you will get During the one-week training, you
          will feel your weaknesses and strengths, you will understand how you can most effectively show yourself in the
          Armed Forces, and you will get During the one-week training, you will feel your weaknesses and strengths, you
          will understand what you can do most effectively in the Armed Forces and you will get")}}
        </p>

        <ul class="leading-5 flex flex-col gap-5">
          <li class="flex gap-3">
            <img src="{{ url_for('static',filename='img/carbon_drone.svg') }}" alt="Dron icon" />
            <span>{{_("During the one-week training, you will feel your weaknesses")}}</span>
          </li>
          <li class="flex gap-3">
            <img src="{{ url_for('static',filename='img/carbon_drone.svg') }}" alt="Dron icon" />
            <span>{{_("During the one-week training, you will feel your weaknesses")}}</span>
          </li>
          <li class="flex gap-3">
            <img src="{{ url_for('static',filename='img/carbon_drone.svg') }}" alt="Dron icon" />
            <span>{{_("During the one-week training, you will feel your weaknesses")}}</span>
          </li>
          <li class="flex gap-3">
            <img src="{{ url_for('static',filename='img/carbon_drone.svg') }}" alt="Dron icon" />
            <span>{{_("During the one-week training, you will feel your weaknesses")}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include 'separator.html' %} -->
</div>
