<section id="application-form-wrapper" class="flex gap-14 flex-col lg:flex-row lg:max-w-full lg:px-16 bg-cover bg-bottom bg-no-repeat lg:bg-[url('../../static/img/plane-bg.png')] bg-[url('../../static/img/plane-bg-mobile.png')]">
  <div class="container mx-auto flex flex-col justify-between gap-14 md:flex-row">
    <div class="flex flex-col gap-5 max-w-[476px] lg:flex-1">
      <h2 class="text-4xl">{{_("FILL THE FORM AND JOIN US")}}</h2>
      <p class="text-base">
        <!-- prettier-ignore -->
        {{_("To join the ranks of our battalion, please fill out the application form")}}
      </p>
    </div>

    <form action="{{url_for('application.create')}}" method="post" class="lg:flex-1 max-w-[640px]">
      <fieldset class="grid grid-cols-1 gap-8 md:grid-cols-2 items-end">
        {{ application_form.hidden_tag() }}
        <div class="group">
          <!-- prettier-ignore -->
          <!-- prettier-ignore -->
          <label for="full_name" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Full
            name")}}*</label>
          {{application_form.full_name(autocomplete="off", class=" block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>
        <div class="group relative">
          <!-- prettier-ignore -->
          <label for="birth_date" class="block text-white/50 group-focus-within:text-white transition cursor-pointer">
            {{_("Date of birth")}}*
          </label>
          <!-- prettier-ignore -->
          {{application_form.birth_date(autocomplete="off", class="block w-full text-white/50c focus:text-white bg-transparent border-0 border-b border-b-white/20 focus:outline-none focus-visible:ring-0 focus:border-b-white transition", max="2006-01-01", id="birth_date")}}
          <span class="absolute bottom-3 right-2 flex items-center pr-3 cursor-pointer pointer-events-none">
            <svg class="w-4 h-4 text-white/50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1v3m5-3v3m5-3v3M1 7h18M5 11h10M2 3h16a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z"></path>
            </svg>
          </span>
        </div>

        <div class="group">
          <!-- prettier-ignore -->
          <label for="phone" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Phone")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.phone(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition ")}}
        </div>
        <div class="group">
          <!-- prettier-ignore -->
          <label for="city_of_actual_residence" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("City of actual
            residence")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.city_of_actual_residence(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>
        <div class="group">
          <!-- prettier-ignore -->
          <label for="email" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Email")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.email(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>
        <div class="group">
          <!-- prettier-ignore -->
          <label for="education" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Education,
            specialty")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.education(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>
        <div class="group">
          <!-- prettier-ignore -->
          <label for="skills" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Professional
            skills")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.skills(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>
        <div class="group">
          <!-- prettier-ignore -->
          <label for="last_job" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Last civilian
            position")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.last_job(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>
        <div class="group">
          <!-- prettier-ignore -->
          <label for="health_problems" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Do you
            have critical health problems")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.health_problems(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>
        <div class="group">
          <!-- prettier-ignore -->
          <label for="have_driver_license" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Having a driver's license. If so,
            what categories?")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.have_driver_license(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>
        <div class="group h-full flex flex-col justify-between">
          <label for="uav_experience" class="block text-white/50 group-focus-within:text-white transition pointer-events-none">{{_("Choose a specialty")}}*</label>
          <!-- prettier-ignore -->
          <div>
            <details id="specialties-details" class="relative list-none">
              <summary class="list-none text-white/50 group-focus-within:text-white  bg-transparent border-0 border-b
              border-b-white/20
              transition">{{_("Click to choose")}} </summary>
              {{application_form.applied_specialties(autocomplete="off", class="flex flex-col gap-2 w-full
              border border-white/50 rounded
              text-white/50c focus:text-white
              focus:outline-none focus-visible:ring-0
              transition absolute top-8 left-0 bg-black p-2 z-10 [&>li]:flex [&>li]:gap-2 [&>li]:items-center
              [&>li>input]:text-yellow-400 [&>li>input]:bg-transparent [&>li>input]:border-yellow-300 [&>li>input]:rounded
              focus:[&>li>input]:ring-transparent focus:[&>li>input]:ring-2 ")}}
            </details>
            <div id="selected-items" class="selected-items"></div>
          </div>
          <!-- prettier-ignore -->
        </div>
        <div class="group">
          <!-- prettier-ignore -->
          <label for="uav_experience" class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Do you
            have experience with UAV (if so, what kind)")}}*</label>
          <!-- prettier-ignore -->
          {{application_form.uav_experience(autocomplete="off", class="block w-full
          text-white/50c focus:text-white bg-transparent border-0 border-b
          border-b-white/20 focus:outline-none focus-visible:ring-0
          focus:border-b-white transition")}}
        </div>

        <div class="group lg:col-span-2">
          <!-- prettier-ignore -->
          <label class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Are you
            a military serviceman?")}}* </label>

          <!-- Radio button "Так" -->
          <!-- prettier-ignore -->
          {{ application_form.is_serviceman(class="h-8 flex flex-row gap-8 text-white border-gray-300 rounded
          focus:ring-blue-500 focus:ring-2 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800
          dark:focus:ring-offset-gray-800 [&>li]:flex [&>li]:items-center [&>li]:gap-1 cursor-pointer") }}
        </div>
        <div class="group lg:col-span-2">
          <!-- prettier-ignore -->
          <label class="block text-white/50  group-focus-within:text-white transition cursor-pointer">{{_("Do you
            give your concent to process your personal data by UAV Forces recruiting center?")}}* </label>

          <!-- Radio button "Так" -->
          <!-- prettier-ignore -->
          {{ application_form.allow_data_processing(class="h-8 flex flex-row gap-8 text-white border-gray-300 rounded
          focus:ring-blue-500 focus:ring-2 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800
          dark:focus:ring-offset-gray-800 [&>li]:flex [&>li]:items-center [&>li]:gap-1 cursor-pointer") }}
        </div>

        <!-- prettier-ignore -->
        <!--{# <div class=" group">
                                  <label for="applied_specialties" class="block text-white/50  group-focus-within:text-white transition"> Оберіть спеціальності* </label>
                                  <label class="block text-white/50  group-focus-within:text-white transition" for="applied_specialties">Parent (optional)</label>
                                  <select name="applied_specialties" multiple  class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                                    {% for specialty in specialties %}
                                    <option value="{{ specialty.id }}">{{ specialty.name }}</option>
                                    {% endfor %}
                                  </select>
                                </div> #}-->
        <div class="flex items-center p-6 space-x-2 lg:col-span-2">
          <button name="submit" type="submit" class="frame-border w-max relative px-4 text-lg bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
            {{_("Save new application")}}
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
