<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N9R5P5EYSF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N9R5P5EYSF');
  </script>
  <meta charset="utf-8" />
  <title>{{_("SVAROG | 424th Separate Unmanned Systems Battalion of the Unmanned Systems Forces")}}</title>
  <!-- meta -->
  <meta name="description" content="{{_('The official website of the 424th separate battalion')}}">
  <meta name="author" content="Simple2B" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <!-- Open Graph meta tags for social sharing -->
  <meta property="og:title" content="{{ config.APP_NAME }}" />
  <meta property="og:description" content="{{_('The official website of the 424th separate battalion')}}" />
  <meta property="og:image" url="{{ url_for('static', filename='img/ceremonial.svg') }}" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta property="og:type" content="website" />

  <!-- Twitter Card meta tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ config.APP_NAME }}" />
  <meta name="twitter:description" content="{{_('The official website of the 424th separate battalion')}}" />
  <meta name="twitter:image" url="{{ url_for('static', filename='img/ceremonial.svg') }}" />

  <meta name="telegram:card" content="summary_large_image" />
  <meta name="telegram:title" content="{{ config.APP_NAME }}" />
  <meta name="telegram:description" content="{{_('The official website of the 424th separate battalion')}}" />
  <meta name="telegram:image" url="{{ url_for('static', filename='img/ceremonial.svg') }}" />



  <script src="{{ url_for('static', filename='js/lib/htmx.min.js') }}" type="text/javascript" defer></script>
  <script src="{{ url_for('static', filename='js/lib/response-targets.js') }}" type="text/javascript" defer></script>
  <link rel="icon" href="{{ url_for('static', filename='img/logo.svg') }}" />

  {% block meta %}{% endblock %}

  <!-- styles -->
  <!-- prettier-ignore -->
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

  <style>
    @font-face {
      font-family: "UAFSans Regular";
      src: url("/static/fonts/UAFSans-Regular.ttf") format("truetype");
    }

    @font-face {
      font-family: "UAFSans Bold";
      src: url("/static/fonts/UAFSans-Bold.ttf") format("truetype");
    }

    @font-face {
      font-family: "Ethnocentric Regular";
      src: url("/static/fonts/Ethnocentric-Regular.ttf") format("truetype");
    }
  </style>

  <!-- prettier-ignore -->
  {% block links %}
  {% endblock %}

  <!— Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TKCCSSLT');</script>
  <!-- End Google Tag Manager -->
</head>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKCCSSLT" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<body hx-ext="response-targets" class=" overflow-x-hidden bg-[--main-black]">
  <!-- Flash Messages -->
  <!-- prettier-ignore -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <!-- Flash message markup -->
  <!-- prettier-ignore -->
  {% include 'toast.html' %}
  <!-- prettier-ignore -->
  <!-- prettier-ignore -->
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block body %}

  <!-- Header -->
  {% include 'head.html' %}

  <div class="w-full h-full">
    <!-- Main Content -->
    {% block content %}{% endblock %}
  </div>

  <!-- Footer -->
  {% include 'footer.html' %}

  {% endblock %}
  <!-- scripts -->

  <!-- prettier-ignore -->

  </div>
  <script src="{{ url_for('static', filename='js/base.js') }}" type="text/javascript" defer></script>
  <!-- <script src="{{ url_for('static', filename='js/cookies.js') }}" type="text/javascript" defer></script> -->

  <div id="not-found"></div>
  {% include 'spinner.html' %}

  {% block scripts %} {% endblock %}
</body>

</html>
