<a
  href="/join"
  class="relative inline-flex md:hidden items-center justify-start py-3 px-12 overflow-hidden font-semibold text-white transition-all duration-150 ease-in-out bg-[--main-grey-opacity] group">
  <span
    class="absolute bottom-0 left-0 w-full h-1 transition-all duration-150 ease-in-out bg-[--main-green] group-hover:h-full"></span>
  <span
    class="absolute bottom-0 left-0 w-full h-1 transition-all duration-150 ease-in-out bg-[--main-green] group-hover:bg-[--main-grey]"></span>
  <span
    class="relative w-full text-center transition-colors duration-200 ease-in-out group-hover:text-black"
    >{{_("SUBMIT APPLICATION")}}</span>
</a>

<a
  href="/join"
  class="relative hidden md:inline-flex items-center justify-start py-3 px-12 overflow-hidden font-semibold text-white transition-all duration-150 ease-in-out bg-[--main-grey-opacity] group"
  style="clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%)">
  <span
    class="absolute bottom-0 left-0 h-full w-1 transition-all duration-150 ease-in-out bg-[--main-grey] group-hover:w-full"
    style="clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%)">
  </span>
  <span
    class="absolute bottom-0 left-0 h-full w-1 transition-all duration-150 ease-in-out bg-[--main-grey] group-hover:bg-[#D71E1E]"></span>
  <span
    class="relative w-full text-center transition-colors duration-200 ease-in-out group-hover:text-black"
    >{{_("SUBMIT APPLICATION")}}</span
  >
</a>
