<div class="container mx-auto pb-20 lg:px-10 xl:px-16 pt-[90px]">
  <h2
    class="text-4xl text-center uppercase text-[--main-grey] mb-[70px]">
    {{_("Choose your weapon")}}
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 desktop:justify-start">
    <div class="px-2 md:px-0">
      <div class="h-[250px]">
        <img
          class="h-full object-cover mx-auto w-full"
          src="{{ url_for('static',filename='img/choose-weapon/choose_weapon_1.jpg') }}"
          alt="Svarog logo" />
      </div>

      <div class="flex flex-col justify-center py-3 mx-auto">
        <span
          class="text-3xl text-start mt-5 mb-4 uppercase z-10 text-[--main-grey]">
          {{_("FPV")}}
        </span>
        <p class="text-s text-start max-w-[850px] z-10 text-[--main-grey]">
          {{_("During the week-long training, you will discover your strengths
          and weaknesses, understand how you can best prove yourself in the
          Armed Forces of Ukraine, and receive During the week-long training,
          you will discover your strengths and weaknesses, understand how you
          can most effectively prove yourself in the Armed Forces of Ukraine,
          and you will receive During the week-long training, you will discover
          your strengths and weaknesses, understand how you can most effectively
          prove yourself in the Armed Forces of Ukraine, and you will
          receive.")}}
        </p>
      </div>
    </div>

    <div class="px-2 md:px-0">
      <div class="h-[250px]">
        <img
          class="h-full object-cover mx-auto w-full"
          src="{{ url_for('static',filename='img/choose-weapon/choose_weapon_2.jpg') }}"
          alt="Svarog logo" />
      </div>

      <div class="flex flex-col justify-center py-3 mx-auto">
        <span
          class="text-3xl text-start mt-5 mb-4 uppercase z-10 text-[--main-grey]">
          {{_("Aerial reconnaissance")}}
        </span>
        <p class="text-s text-start max-w-[850px] z-10 text-[--main-grey]">
          {{_("During the week-long training, you will discover your strengths
          and weaknesses, understand how you can best prove yourself in the
          Armed Forces of Ukraine, and receive During the week-long training,
          you will discover your strengths and weaknesses, understand how you
          can most effectively prove yourself in the Armed Forces of Ukraine,
          and you will receive During the week-long training, you will discover
          your strengths and weaknesses, understand how you can most effectively
          prove yourself in the Armed Forces of Ukraine, and you will
          receive.")}}
        </p>
      </div>
    </div>

    <div class="px-2 md:px-0">
      <div class="h-[250px]">
        <img
          class="h-full object-cover mx-auto w-full"
          src="{{ url_for('static',filename='img/choose-weapon/choose_weapon_1.jpg') }}"
          alt="Svarog logo" />
      </div>

      <div class="flex flex-col justify-center py-3 mx-auto">
        <span
          class="text-3xl text-start mt-5 mb-4 uppercase z-10 text-[--main-grey]">
          {{_("HEAVY BOMBERS")}}
        </span>
        <p class="text-s text-start max-w-[850px] z-10 text-[--main-grey]">
          {{_("During the week-long training, you will discover your strengths
          and weaknesses, understand how you can best prove yourself in the
          Armed Forces of Ukraine, and receive During the week-long training,
          you will discover your strengths and weaknesses, understand how you
          can most effectively prove yourself in the Armed Forces of Ukraine,
          and you will receive During the week-long training, you will discover
          your strengths and weaknesses, understand how you can most effectively
          prove yourself in the Armed Forces of Ukraine, and you will
          receive.")}}
        </p>
      </div>
    </div>

    <div class="px-2 md:px-0">
      <div class="h-[250px]">
        <img
          class="h-full object-cover mx-auto w-full"
          src="{{ url_for('static',filename='img/choose-weapon/choose_weapon_2.jpg') }}"
          alt="Svarog logo" />
      </div>

      <div class="flex flex-col justify-center py-3 mx-auto">
        <span
          class="text-3xl text-start mt-5 mb-4 uppercase z-10 text-[--main-grey]">
          {{_("IMPACT WING")}}
        </span>
        <p class="text-s text-start max-w-[850px] z-10 text-[--main-grey]">
          {{_("During the week-long training, you will discover your strengths
          and weaknesses, understand how you can best prove yourself in the
          Armed Forces of Ukraine, and receive During the week-long training,
          you will discover your strengths and weaknesses, understand how you
          can most effectively prove yourself in the Armed Forces of Ukraine,
          and you will receive During the week-long training, you will discover
          your strengths and weaknesses, understand how you can most effectively
          prove yourself in the Armed Forces of Ukraine, and you will
          receive.")}}
        </p>
      </div>
    </div>
  </div>
</div>
