<div class="container mx-auto pb-20 px-2 lg:px-10 xl:px-16 pt-[90px]">
  <h2
    class="text-4xl md:text-6xl text-center uppercase text-[--main-grey-87] mb-[70px]">
    {{_("Choose your weapon")}}
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 desktop:justify-start">
    <div class="px-2 md:px-0">
      <div class="h-[250px]">
        <img
          class="h-full object-cover mx-auto w-full"
          src="{{ url_for('static',filename='img/choose-weapon/fpv-drone.png') }}"
          alt="Svarog logo" />
      </div>

      <div class="flex flex-col justify-center py-3 mx-auto">
        <span
          class="text-4xl text-start mt-5 mb-4 uppercase z-10 text-[--main-grey-87]">
          {{_("FPV")}}
        </span>
        <p class="text-xl text-start max-w-[850px] z-10 text-[--main-white-87]">
          {{_("Speed, accuracy, and determination. You will destroy enemy forces and equipment using various types of FPV drones.")}}
        </p>
      </div>
    </div>

    <div class="px-2 md:px-0">
      <div class="h-[250px]">
        <img
          class="h-full object-cover mx-auto w-full"
          src="{{ url_for('static',filename='img/choose-weapon/rozvid-krilo.png') }}"
          alt="Svarog logo" />
      </div>

      <div class="flex flex-col justify-center py-3 mx-auto">
        <span
          class="text-4xl text-start mt-5 mb-4 uppercase z-10 text-[--main-grey-87]">
          {{_("AERIAL RECONNAISSANCE")}}
        </span>
        <p class="text-xl text-start max-w-[850px] z-10 text-[--main-white-87]">
          {{_("Eyes above the battlefield. You will detect enemy positions, correct artillery fire, collect and analyze intelligence data.")}}
        </p>
      </div>
    </div>

    <div class="px-2 md:px-0">
      <div class="h-[250px]">
        <img
          class="h-full object-cover mx-auto w-full"
          src="{{ url_for('static',filename='img/choose-weapon/bomber.png') }}"
          alt="Svarog logo" />
      </div>

      <div class="flex flex-col justify-center py-3 mx-auto">
        <span
          class="text-4xl text-start mt-5 mb-4 uppercase z-10 text-[--main-grey-87]">
          {{_("HEAVY BOMBERS")}}
        </span>
        <p class="text-xl text-start max-w-[850px] z-10 text-[--main-white-87]">
          {{_("Damage, mining, and logistics. You will control large drones to deliver pleasant packages to your allies and explosively unpleasant ones to your enemies.")}}
        </p>
      </div>
    </div>

    <div class="px-2 md:px-0">
      <div class="h-[250px]">
        <img
          class="h-full object-cover mx-auto w-full"
          src="{{ url_for('static',filename='img/choose-weapon/udar-krilo.png') }}"
          alt="Svarog logo" />
      </div>

      <div class="flex flex-col justify-center py-3 mx-auto">
        <span
          class="text-4xl text-start mt-5 mb-4 uppercase z-10 text-[--main-grey-87]">
          {{_("IMPACT WING")}}
        </span>
        <p class="text-xl text-start max-w-[850px] z-10 text-[--main-white-87]">
          {{_("Goals that seemed unattainable. You will deliver precision strikes on warehouses, equipment, and command posts behind enemy lines.")}}
        </p>
      </div>
    </div>
  </div>
</div>
