<!-- prettier-ignore -->
<div id="cookiesModal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-4xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <!-- prettier-ignore -->
        <button id="closeCookiesModalButton" type="button" class="absolute right-2 top-2 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"> <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg> <span class="sr-only">Close modal</span> </button>
        <!-- prettier-ignore -->
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          {{_("Our site uses cookies to improve your experience during your visit. Cookies help us analyze site traffic and understand how you interact with our content.")}}
        </p>

        <p class="inline-block text-base leading-relaxed text-gray-500 dark:text-gray-400">
          {{_('By clicking "Accept all cookies", you agree to the use of cookies.')}}
        </p>

        <a href="{{ url_for('multilingual.cookie_policy') }}" class="text-[--main-yellow] underline">
          {{_("Show details")}}
        </a>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
        <!-- prettier-ignore -->
        <button id="declineCookiesButton" class="frame-border relative py-2 px-5 bg-transparent text-[--main-red] uppercase text-base border-none cursor-pointer"> {{_("DECLINE COOKIES")}} </button>
        <!-- prettier-ignore -->
        <button id="acceptAllCookiesButton" class="frame-border relative py-2 px-5 bg-transparent text-[--main-green] uppercase text-base border-none cursor-pointer"> {{_("ACCEPT ALL COOKIES")}} </button>
      </div>
    </div>
  </div>
</div>
