<!-- prettier-ignore -->
<div id="cookiesModal" tabindex="-1" class="fixed !items-end bottom-0 md:w-max md:h-max ml-auto mt-auto z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0">
  <div class="relative max-w-[748px] h-max border border-[--main-yellow]">
    <!-- Modal content -->
    <div class="relative bg-[--main-black] p-4 md:p-8 rounded-lg shadow">
      <!-- Modal body -->
      <div class="space-y-4 mb-10">
        <div class="ml-auto w-max">
          <button id="closeCookiesModalButton" type="button" class="frame-border relative py-2 px-4 bg-transparent text-[--main-yellow] uppercase text-xl border-none cursor-pointer">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg> <span class="sr-only">Close modal</span>
          </button>
        </div>

        <!-- prettier-ignore -->
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          {{_("Our site uses cookies to improve your experience during your visit. Cookies help us analyze site traffic and understand how you interact with our content.")}}
        </p>

        <p class="inline-block text-base leading-relaxed text-gray-500 dark:text-gray-400">
          {{_('By clicking "Accept all cookies", you agree to the use of cookies.')}}

          <a href="{{ url_for('multilingual.cookie_policy') }}" class="text-[--main-yellow] underline">
            {{_("Show details")}}
          </a>
        </p>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center space-x-3 rtl:space-x-reverse border-gray-200 rounded-b">
        <!-- prettier-ignore -->
        <button id="declineCookiesButton" class="p-3 text-white/80 underline uppercase text-base border-none cursor-pointer transition-colors duration-200 hover:bg-white/20">
          {{_("DECLINE COOKIES")}}
        </button>

        <button id="acceptAllCookiesButton" class="p-3 bg-[--main-yellow] text-[--main-black] uppercase text-base border-none cursor-pointer transition-colors duration-200 hover:bg-[--main-yellow-hover]">
          {{_("ACCEPT ALL COOKIES")}}
        </button>
      </div>
    </div>
  </div>
</div>
