{% extends 'base.html' %} {% block content %}
<section class="px-6 lg:px-16 pt-32 flex flex-col gap-4">
  <h1 class="text-4xl font-semibold pb-5">Cookie policy</h1>
  <p>
    <strong
      >Політика використання файлів cookie для веб-сайту 424bat.army</strong
    >
  </p>
  <p>
    <strong>1. Вступ</strong>
  </p>
  <p>
    Ця Політика використання файлів cookie пояснює, як веб-сайт 424bat.army
    (далі – “Сайт”) використовує файли cookie та подібні технології для збору та
    обробки інформації про вас. Ми використовуємо файли cookie для забезпечення
    належної роботи Сайту та надання кращого користувацького досвіду.
  </p>
  <p><strong>2. Що таке файли cookie?</strong></p>
  <p>
    Файли cookie – це невеликі текстові файли, які зберігаються на вашому
    пристрої, коли ви відвідуєте веб-сайт. Вони використовуються для збору
    інформації про ваші вибори та налаштування, а також для збору даних для
    аналізу та покращення функціонування Сайту.
  </p>
  <p><strong>3. Типи файлів cookie, які ми використовуємо</strong></p>
  <ul class="list-disc ml-6">
    <li>
      <em>Файли необхідні для роботи</em>: Ці файли допомагають забезпечити
      правильну роботу Сайту та доступ до основних функцій.
    </li>
    <li>
      <em>Файли аналітики</em>: Ми використовуємо файли cookie для збору
      анонімних даних про використання Сайту, щоб розуміти, як користувачі
      взаємодіють з контентом та покращити його якість.
    </li>
  </ul>
  <p><strong>4. Керування файлами cookie</strong></p>
  <p>
    Ви маєте можливість керувати використанням файлів cookie через налаштування
    вашого веб-браузера. Ви можете вибрати блокування всіх файлів cookie або
    отримати попередження перед їх збереженням. Зверніть увагу, що вимкнення
    файлів cookie може призвести до обмеження доступу до деяких функцій Сайту.
  </p>
  <p><strong>5. Відмова від відповідальності</strong></p>
  <p>
    Ми не несемо відповідальність за файли cookie та технології третіх сторін,
    які можуть використовуватися на Сайті. Рекомендуємо переглядати політику
    конфіденційності та використання файлів cookie цих третіх сторін.
  </p>
  <p><strong>6. Зміни в Політиці використання файлів cookie</strong></p>
  <p>
    Ми можемо час від часу оновлювати цю Політику. Будь ласка, періодично
    переглядайте цей документ, щоб бути в курсі будь-яких змін.
  </p>
  <p>Дякуємо за використання Сайту 424bat.army!</p>
</section>
{% endblock %}
