<div
  class="grid justify-start items-center bg-gray-800 h-screen w-screen px-5 lg:px-16 bg-cover bg-right sm:bg-center bg-no-repeat bg-[url('../../static/img/hero-bg-mobile.png')] sm:bg-[url('../../static/img/hero-bg.png')]">

  <div class="flex flex-col flex-1 items-start container justify-evenly max-w-[796px]">
    <!-- component -->
    <h1 class="text-white uppercase font-extrabold text-5xl lg:text-8xl lg:leading-[108px] mb-8">
      {{_("CHOOSE YOUR WAY WITH USF")}}

    </h1>

    <p class="leading-5 lg:text-xl text-white mb-10">
      {{_("During the one-week training, you will feel your weaknesses and strengths, you will understand how you can prove yourself most effectively in the Armed Forces, and you will have the opportunity to choose your path in a military career")}}
    </p>

    {% include 'button.html' %}
  </div>
</div>
