<div class="flex flex-col justify-center bg-black min-h-screen sm:h-screen w-full bg-cover bg-right sm:bg-center">
  <div class="container mx-auto lg:mx-auto px-5 lg:px-16 mt-36 md:mt-0">
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 items-start">
      <div class="flex h-[180px] md:h-[400px] col-span-1 order-1">
        <img
          class="h-full object-cover mx-auto"
          src="{{ url_for('static',filename='img/svarog-logo.svg') }}"
          alt="Svarog logo" />
      </div>
      <div class="flex flex-col items-center md:items-start mb-10 order-2 col-span-1 xl:col-span-2">
        <h1
          class="text-[--main-grey] text-center md:text-start uppercase font-bold text-2xl lg:text-4xl lg:leading-[40px]">
          {{_("424th SUSB")}}
        </h1>
        <span
          class="text-[--main-grey] mb-5 mx-auto md:mx-0 uppercase text-5xl lg:text-[48px] xl:text-[96px] font-ethnocentric">
          {{_("SVAROG")}}
        </span>
        <p class="leading-5 lg:text-xl text-center md:text-start text-[--main-white-87] mb-10 px-5 md:px-0">
          <!-- prettier-ignore -->
          {{_('Every day we improve ourselves to ensure mission success and safeguard our brothers-in-arms. Doesn’t matter where, but with whom!')}}
        </p>

        <div class="w-full flex flex-col justify-start xl:flex-row items-start">
          <div class="mx-auto md:mx-0">{% include 'button.html' %}</div>
          <a
            href="{{g.custom_links.test_drive_url}}"
            target="_blank"
            class="mx-auto md:mx-0 mt-12 xl:mt-0 xl:ms-12 text-[--main-green] py-4 uppercase underline hover:text-[--main-white-87] focus:text-[--main-white-87] active:no-underline">
            {{_("Sign up for a test drive")}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
