<div class="container mx-auto pb-20 px-10 xl:px-16">
  <h2 class="mb-14 text-4xl text-center desktop:text-left">
    {{_("OUR VALUES")}}
  </h2>

  <div
    class="flex flex-wrap justify-center gap-5 items-center desktop:justify-start">
  <div class="mobile-range:translate-y-1/4 mobile-range:intersect:translate-y-0 transition ease-out duration-300 desktop:-translate-x-[100%] desktop:intersect:translate-x-0 desktop:duration-[1s] intersect-once">
    <div
      class="flex flex-col justify-between w-[264px] h-[280px] border border-white/20 p-5 values">
      <div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("SPIRIT")}}</h3>

        <p class="text-s">
          <!-- prettier-ignore -->
          {{_("The fire in our hearts helps us overcome any challenges. Even in the toughest conditions, we remain steadfast, with unwavering determination, willpower, and fighting spirit")}}
        </p>
      </div>
    </div>
  </div>

  <div class="mobile-range:translate-y-1/4 mobile-range:intersect:translate-y-0 transition ease-out duration-300 desktop:-translate-x-2/4 desktop:intersect:translate-x-0 intersect-once">
    <div
      class="flex flex-col justify-between w-[264px] h-[280px] border border-white/20 p-5 values">
      <div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("COMMUNITY")}}</h3>

        <p class="text-s">
          <!-- prettier-ignore -->
          {{_("We build our team not just on skills, but on mutual trust and respect. It's not about where, but with whom! People are our greatest asset, and a shared goal makes us stronger")}}
        </p>
      </div>
    </div>
  </div>

  <div class="translate-y-1/4 intersect:translate-y-0 transition ease-out duration-300 intersect-once">
    <div
      class="flex flex-col justify-between w-[264px] h-[280px] border border-white/20 p-5 values">
      <div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("PREPARATION")}}</h3>

        <p class="text-s">
          <!-- prettier-ignore -->
          {{_("Thorough preparation ensures our success. We provide the highest level of training so that every fighter is ready for challenges and can act confidently in any situation")}}
        </p>
      </div>
    </div>
  </div>

  <div class="mobile-range:translate-y-1/4 mobile-range:intersect:translate-y-0 transition ease-out duration-300 desktop:translate-x-2/4 desktop:intersect:translate-x-0 intersect-once">
    <div
      class="flex flex-col justify-between w-[264px] h-[280px] border border-white/20 p-5 values">
      <div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("INNOVATION")}}</h3>

        <p class="text-s">
          <!-- prettier-ignore -->
          {{_("We embrace cutting-edge technologies and the latest solutions. Innovation allows us to stay one step ahead of the enemy and continuously improve")}}
        </p>
      </div>
    </div>
  </div>

    <div class="mobile-range:translate-y-1/4 mobile-range:intersect:translate-y-0 transition ease-out duration-300 desktop:translate-x-[100%] desktop:intersect:translate-x-0 desktop:duration-[1s] intersect-once">
      <div
      class="flex flex-col justify-between w-[264px] h-[280px] border border-white/20 p-5 values">
      <div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("DIGNITY")}}</h3>

        <p class="text-s">
          <!-- prettier-ignore -->
          {{_("We hold human dignity in the highest regard and act with honor. Care, respect for our comrades, and mutual support form the foundation of our battalion")}}
        </p>
      </div>
    </div>
    </div>
  </div>
</div>
