{% extends 'base.html' %} {% block content %}
<section class="px-6 lg:px-16 pt-32 flex flex-col gap-4">
  <h1 class="text-4xl font-semibold pb-5">Privacy Policy</h1>

  <ol class="list-decimal">
    <li>General provisions</li>
  </ol>
  <p>
    Privacy policy – rules governing the collection, processing, use and
    protection of personal data that may be requested/received when using the
    424bat.army web portal (hereinafter referred to as the Portal).
  </p>
  <p>
    Personal data – information or a set of information about a natural or legal
    person who is identified or can be specifically identified.
  </p>
  <p>
    The Portal administrator treats with great respect the confidential
    (personal) information of any persons who use the information posted on the
    Portal, as well as the subjects of the Portal – users registered on the
    Portal, authorized persons of providers, teachers (trainers), therefore we
    strive to protect confidentiality personal data, thereby creating and
    providing the most comfortable conditions for using the Portal.
  </p>
  <p>
    By filling out the data in the registration form and marking the fact that
    you have read this Privacy Policy (hereinafter – the Policy), you give your
    consent to the processing of your personal data for the purpose of providing
    role access, preparing statistical, administrative and other information on
    professional training.
  </p>
  <p>
    Before using the Portal, carefully familiarize yourself with your rights and
    obligations regarding the processing of personal data, which are specified
    in<br />Article 8 of the Law of Ukraine “On the Protection of Personal
    Data”, this Policy, and also express your full agreement with its terms.
  </p>
  <ol start="2" class="list-decimal">
    <li>Collection and use of personal data</li>
  </ol>
  <p>
    The collection of personal data is carried out solely according to your
    conscious and voluntary decision as the subject of personal data to use the
    Portal’s functionality and in accordance with the purpose of personal data
    processing formulated in this Policy.
  </p>
  <p>
    The scope and type of collection and use of your personal data varies
    depending on the role in which you plan to use the functionality of the
    Portal.
  </p>
  <p>
    Depending on the role you have chosen, by registering on the Portal and
    filling in your personal account data, you provide the following data:
  </p>
  <p>
    Full name, date of birth, gender, or other identification data, phone number
    and e-mail;
  </p>
  <p>
    information related to your professional activity: place of work, position,
    position category, specialty, qualification, scientific degree, academic
    title, etc.;
  </p>
  <p>additional registration.</p>
  <p>
    With further use of the Portal, information about what is contained in
    requests for feedback forms / electronic messages is automatically
    collected.
  </p>
  <ol start="3" class="list-decimal">
    <li>Purpose of collection, processing and use of personal data</li>
  </ol>
  <p>
    The collection, processing and use of personal data is carried out for the
    purpose of:
  </p>
  <p>provision of role access, in particular:</p>
  <p>registration of Portal entities;</p>
  <p>
    organization of electronic interaction of Portal subjects through personal
    accounts;
  </p>
  <p>
    generalization and systematization of registers and structured data, in
    particular:
  </p>
  <p>formation of the list;</p>
  <p>
    monitoring, summarization and analysis of statistical data generated by the
    subjects of the Portal as a result of its use.
  </p>
  <p>
    Personal data are stored for no longer than is necessary for the purpose of
    their collection, processing and use or until you stop using the Portal by
    deleting your account on the Portal.
  </p>
  <ol start="4" class="list-decimal">
    <li>Access to personal data</li>
  </ol>
  <p>
    Full access to personal data of registered Portal subjects is granted to an
    authorized person of the Portal administrator.
  </p>
  <ol start="5" class="list-decimal">
    <li>Transfer of personal data to third parties</li>
  </ol>
  <p>
    The Portal Administrator (424 Battalion of Unmanned Systems) does not
    transfer or disclose personal data received from registered Portal subjects
    to third parties.
  </p>
  <p>
    The disclosure of personal data is possible in cases determined by the
    current legislation of Ukraine, as well as in the case of the involvement of
    third parties that provide technical support and/or services for the
    improvement of the Portal under the terms of the contract and on the
    condition that personal data is not disclosed.
  </p>
  <p>
    The portal may contain hyperlinks to third-party websites and other
    resources on the Internet of third parties. Third-party resources may be
    governed by their own terms of use and privacy. Third-party resources and
    their content are not checked by us for compliance with requirements
    (authenticity, completeness, legality, etc.). 424 Battalion of Unmanned
    Systems is not responsible for any information, materials posted on the
    resources of third parties.
  </p>
  <ol start="6" class="list-decimal">
    <li>Protection of personal data</li>
  </ol>
  <p>
    The Portal administrator takes the necessary procedural and technical
    measures to protect your personal data from their loss, unauthorized access
    to them or their distribution on the Portal.
  </p>
  <ol start="7" class="list-decimal">
    <li>Changes to the terms of the Policy</li>
  </ol>
  <p>
    The Portal Administrator may change this Policy to accurately reflect the
    methods of collection, processing, use, access and protection of personal
    data.
  </p>
  <p>
    Accordingly, you should review this Policy periodically. When the Portal
    administrator changes this Policy, he will update the “last modified” date
    at the top of this Policy. Changes to this Policy are effective when posted.
  </p>
  <ol start="8" class="list-decimal">
    <li>Your rights</li>
  </ol>
  <p>By registering on the Portal, you have the right to:</p>
  <p>
    to receive information about the sources of collection and the place of
    storage of your personal data, its purpose
  </p>
</section>
{% endblock %}
