<div
  class="grid place-content-center px-5 lg:px-[70px] w-full h-[606px] bg-cover bg-right sm:bg-center bg-no-repeat bg-[url('../../static/img/recruit/recruit-bg-mobile.png')] sm:bg-[url('../../static/img/recruit/recruit-bg.png')]">

  <div class="max-w-[878px] text-center">
    <h2 class="text-4xl mb-6">
      {{_("WE STARTED RECRUITING VOLUNTEERS")}}
    </h2>

    <p class="text-xl mb-10">
      {{_("During the one-week training, you will feel your weaknesses and strengths, you will understand how you can show yourself most effectively in the Armed Forces, and you will receive")}}
    </p>

    {% include 'button.html' %}
  </div>
</div>
