<div class="relative">
  <div
    class="pl-5 lg:pl-16 w-full h-auto md:h-[606px] bg-auto md:bg-contain bg-bottom md:bg-right sm:bg-center bg-no-repeat bg-[url('../../static/img/map.svg')] widescreen:bg-none widescreen:flex widescreen:flex-col widescreen:items-center">

    <div class="widescreen:text-center widescreen:mb-3">
      <h2 class="mb-10 text-4xl max-w-[496px] 2xl:max-w-none break-words">
        {{_("CONTACTS OF RECRUITMENT CENTERS")}}
      </h2>

      <div class="flex flex-col md:flex-row md:flex-wrap gap-10 w-max md:w-[424px] 2xl:w-[812px] widescreen:w-full">
        <div class="flex flex-col">
          <h3 class="mb-3 text-[--main-yellow] text-2xl leading-5">{{_("KYIV")}}</h3>
          <span>{{_("ave. Peremohy, 83/2")}}</span>
          <span>{{_("Daily from 09:00 to 18:00")}}</span>
        </div>
        <div class="flex flex-col">
          <h3 class="mb-3 text-[--main-yellow] text-2xl leading-5">{{_("KYIV")}}</h3>
          <span>{{_("ave. Peremohy, 83/2")}}</span>
          <span>{{_("Daily from 09:00 to 18:00")}}</span>
        </div>
        <div class="flex flex-col">
          <h3 class="mb-3 text-[--main-yellow] text-2xl leading-5">{{_("KYIV")}}</h3>
          <span>{{_("ave. Peremohy, 83/2")}}</span>
          <span>{{_("Daily from 09:00 to 18:00")}}</span>
        </div>
        <div class="flex flex-col">
          <h3 class="mb-3 text-[--main-yellow] text-2xl leading-5">{{_("KYIV")}}</h3>
          <span>{{_("ave. Peremohy, 83/2")}}</span>
          <span>{{_("Daily from 09:00 to 18:00")}}</span>
        </div>
        <div class="flex flex-col">
          <h3 class="mb-3 text-[--main-yellow] text-2xl leading-5">{{_("KYIV")}}</h3>
          <span>{{_("ave. Peremohy, 83/2")}}</span>
          <span>{{_("Daily from 09:00 to 18:00")}}</span>
        </div>
      </div>
    </div>

    <img src="{{ url_for('static',filename='img/map.svg') }}" alt="Recruitment contacts"
      class="hidden widescreen:block w-full h-[606px] object-contain" />
  </div>
</div>
