<div class="py-16">
  <div
    class="container mx-auto lg:pl-16 w-full h-auto md:h-[606px] bg-cover md:bg-contain bg-bottom md:bg-right sm:bg-center bg-no-repeat bg-[url('../../static/img/map.svg')]">
    <div>
      <h2
        class="mb-10 text-4xl max-w-[496px] 2xl:max-w-none break-words lg:-translate-x-2/4 lg:intersect:translate-x-0 lg:transition lg:ease-out lg:duration-500 intersect-once intersect-half">
        {{_("CONTACTS OF RECRUITMENT CENTERS")}}
      </h2>

      <div
        class="flex flex-col md:flex-row md:flex-wrap gap-10 w-max md:w-[424px] 2xl:w-[512px] lg:-translate-x-2/4 lg:intersect:translate-x-0 lg:transition lg:ease-out lg:duration-700 intersect-once intersect-half">
        <div class="flex flex-col recruitment_center">
          <h3 class="mb-3 text-[--main-yellow] text-2xl leading-5">
            {{_("KYIV")}}
          </h3>
          <span>{{_("ave. Peremohy, 83/2")}}</span>
          <span>{{_("Daily from 09:00 to 18:00")}}</span>
        </div>
        <div class="flex flex-col recruitment_center">
          <h3 class="mb-3 text-[--main-yellow] text-2xl leading-5">
            {{_("BUCHA")}}
          </h3>
          <span>{{_("Energetykiv st. 12")}}</span>
          <span>{{_("Interview by appointment")}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
