{% extends "base.html" %}
<!-- prettier-ignore -->
{% block content %}
<div>
  {# hidden element for store redirect URL #}
  <div id="redirect-url" data-url="{{ redirect_url }}"></div>
  <!-- please wait... auto redirect message -->
  <div class="flex flex-col justify-center items-center h-screen text-center px-4">
    <div class="mb-6">
      <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-16 w-16"></div>
    </div>
    <div>
      <h2 class="text-2xl font-semibold mb-2 text-white">{{_("Please wait...")}}</h2>
      <p class="text-white">{{_("You are being redirected to outside page.")}}</p>
    </div>
  </div>
  {% endblock %}
  <!-- prettier-ignore -->
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/redirect.js') }}" type="text/javascript" defer></script>
  {% endblock %}
</div>
