<div
  class="w-full h-full bg-cover bg-right sm:bg-center bg-no-repeat bg-[url('../../static/img/technologies.png')] relative">
  <div class="absolute inset-0 bg-black/50 z-0"></div>
  <div
    class="flex flex-col justify-center gap-5 items-center py-[233px] mx-auto">
    <h2
      class="text-4xl md:text-6xl text-center uppercase z-10 text-[--main-grey]">
      {{_("SPIRIT OF TECHNOLOGY")}}
    </h2>
    <p class="text-xl text-center max-w-[850px] px-4 z-10 text-[--main-grey]">
      {{_("Our battalion specializes in airborne operations. We have a full
      arsenal of UAVs: FPV, multi-rotors, heavy bombers, reconnaissance and
      strike wings.")}}
    </p>
  </div>
</div>
