<div class="w-full h-full pt-[90px]">
  <div class="container mx-auto lg:px-10 xl:px-16 bg-no-repeat">
    <div class="flex flex-col justify-between gap-6">
      <h2 class="text-4xl text-[--main-grey] text-center mb-5">
        {{_("VACANCIES")}}
      </h2>

      <div class="flex flex-col md:flex-row md:justify-between gap-5 md:gap-10 xl:gap-36">
        <div>
          <span class="text-[--main-grey] text-2xl">{{_("Management")}}</span>

          <div class="mt-2">
            <ul class="list-disc pl-5">
              <li class="text-[--main-grey]">{{_("Chief of Staff")}}</li>
              <li class="text-[--main-grey]">{{_("Unit commander")}}</li>
              <li class="text-[--main-grey]">
                {{_("Operational Planning Officer")}}
              </li>
              <li class="text-[--main-grey]">{{_("Liaison officer")}}</li>
              <li class="text-[--main-grey]">
                {{_("Officer for moral and psychological support")}}
              </li>
              <li class="text-[--main-grey]">
                {{_("Head of Logistics Department")}}
              </li>
              <li class="text-[--main-grey]">{{_("Personnel Officer")}}</li>
            </ul>
          </div>
        </div>

        <div>
          <span class="text-[--main-grey] text-2xl mb-2">{{_("Combat")}}</span>

          <div class="mt-2">
            <ul class="list-disc pl-5">
              <li class="text-[--main-grey]">{{_("UAV operator")}}</li>
              <li class="text-[--main-grey]">{{_("UAV crew commander")}}</li>
              <li class="text-[--main-grey]">
                {{_("Instructor in tactical use of drones")}}
              </li>
              <li class="text-[--main-grey]">
                {{_("UAV maintenance technician")}}
              </li>
              <li class="text-[--main-grey]">
                {{_("UAV video surveillance analyst")}}
              </li>
              <li class="text-[--main-grey]">
                {{_("Electronic warfare specialist(EW)")}}
              </li>
              <li class="text-[--main-grey]">{{_("Strike drone operator")}}</li>
            </ul>
          </div>
        </div>

        <div>
          <span class="text-[--main-grey] text-2xl mb-2">{{_("Support")}}</span>

          <div class="mt-2">
            <ul class="list-disc pl-5">
              <li class="text-[--main-grey]">{{_("Driver-electrician")}}</li>
              <li class="text-[--main-grey]">{{_("Medic")}}</li>
              <li class="text-[--main-grey]">{{_("Radio operator")}}</li>
              <li class="text-[--main-grey]">{{_("Field kitchen cook")}}</li>
              <li class="text-[--main-grey]">{{_("Weapons technician")}}</li>
              <li class="text-[--main-grey]">{{_("Engineer-sapper")}}</li>
              <li class="text-[--main-grey]">
                {{_("Technical repair technician")}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex justify-center pt-[90px] pb-[120px]">
        {% include 'button.html' %}
      </div>
    </div>
  </div>
</div>
