<div id="vacancy-gallery" class="container mx-auto py-20 px-10 xl:px-16">
  <h2 class="mb-10 text-4xl max-w-[496px] 2xl:max-w-none break-words">
    {{_("VACANCIES")}}
  </h2>

  <div class="overflow-auto flex gap-8 w-full pb-10">
    <div
      class="lg:w-[700px] w-72 lg:flex-row flex-col-reverse flex gap-8 border-t border-[--main-yellow] pt-6 flex-none px-2">      <div class="flex-1 flex items-start flex-col gap-5">
        <div
          class="frame-border w-mx relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
          01
        </div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("UAV pilot")}}</h3>
        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and
          strengths, you will understand how you can most effectively show
          yourself in the Armed Forces, and you will get During the one-week
          training, you will feel your weaknesses and strengths, you will
          understand how you can most effectively show yourself in the Armed
          Forces, and you will get During the one-week training, you will feel
          your weaknesses and strengths, you will understand what you can do
          most effectively in the Armed Forces and you will get")}}
        </p>
        {% include 'button.html' %}
      </div>

      <img
        class="sm:block object-cover lg:w-72 h-80"
        src="{{ url_for('static',filename='img/vacanies/pilot.png') }}"
        alt="pilot" />
    </div>
    <div
      class="lg:w-[700px] w-72 lg:flex-row flex-col-reverse flex gap-8 border-t border-[--main-yellow] pt-6 flex-none px-2">
      <div class="flex-1 flex items-start flex-col gap-5">
        <div
          class="frame-border w-mx relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
          02
        </div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">
          {{_("Driver-Electrician")}}
        </h3>
        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and
          strengths, you will understand how you can most effectively show
          yourself in the Armed Forces, and you will get During the one-week
          training, you will feel your weaknesses and strengths, you will
          understand how you can most effectively show yourself in the Armed
          Forces, and you will get During the one-week training, you will feel
          your weaknesses and strengths, you will understand what you can do
          most effectively in the Armed Forces and you will get")}}
        </p>
        {% include 'button.html' %}
      </div>

      <img
        class="sm:block object-cover lg:w-72 h-80"
        src="{{ url_for('static',filename='img/vacanies/driver.png') }}"
        alt="Driver-Electricia" />
    </div>
    <div
      class="lg:w-[700px] w-72 lg:flex-row flex-col-reverse flex gap-8 border-t border-[--main-yellow] pt-6 flex-none px-2">
      <div class="flex-1 flex items-start flex-col gap-5">
        <div
          class="frame-border w-mx relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
          03
        </div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("Master")}}</h3>
        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and
          strengths, you will understand how you can most effectively show
          yourself in the Armed Forces, and you will get During the one-week
          training, you will feel your weaknesses and strengths, you will
          understand how you can most effectively show yourself in the Armed
          Forces, and you will get During the one-week training, you will feel
          your weaknesses and strengths, you will understand what you can do
          most effectively in the Armed Forces and you will get")}}
        </p>
        {% include 'button.html' %}
      </div>

      <img
        class="sm:block object-cover lg:w-72 h-80"
        src="{{ url_for('static',filename='img/vacanies/master.png') }}"
        alt="master" />
    </div>
    <div
      class="lg:w-[700px] w-72 lg:flex-row flex-col-reverse flex gap-8 border-t border-[--main-yellow] pt-6 flex-none px-2">
      <div class="flex-1 flex items-start flex-col gap-5">
        <div
          class="frame-border w-mx relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
          04
        </div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("Decryptor")}}</h3>
        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and
          strengths, you will understand how you can most effectively show
          yourself in the Armed Forces, and you will get During the one-week
          training, you will feel your weaknesses and strengths, you will
          understand how you can most effectively show yourself in the Armed
          Forces, and you will get During the one-week training, you will feel
          your weaknesses and strengths, you will understand what you can do
          most effectively in the Armed Forces and you will get")}}
        </p>
        {% include 'button.html' %}
      </div>

      <img
         class="sm:block object-cover lg:w-72 h-80"
        src="{{ url_for('static',filename='img/vacanies/driver.png') }}"
        alt="Decryptor" />
    </div>
    <div
      class="lg:w-[700px] w-72 lg:flex-row flex-col-reverse flex gap-8 border-t border-[--main-yellow] pt-6 flex-none px-2">
      <div class="flex-1 flex items-start flex-col gap-5">
        <div
          class="frame-border w-mx relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
          05
        </div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("Airman")}}</h3>
        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and
          strengths, you will understand how you can most effectively show
          yourself in the Armed Forces, and you will get During the one-week
          training, you will feel your weaknesses and strengths, you will
          understand how you can most effectively show yourself in the Armed
          Forces, and you will get During the one-week training, you will feel
          your weaknesses and strengths, you will understand what you can do
          most effectively in the Armed Forces and you will get")}}
        </p>
        {% include 'button.html' %}
      </div>

      <img
        class="sm:block object-cover lg:w-72 h-80"
        src="{{ url_for('static',filename='img/vacanies/driver.png') }}"
        alt="Airman" />
    </div>
    <div
      class="lg:w-[700px] w-72 lg:flex-row flex-col-reverse flex gap-8 border-t border-[--main-yellow] pt-6 flex-none px-2">
      <div class="flex-1 flex items-start flex-col gap-5">
        <div
          class="frame-border w-mx relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
          06
        </div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">{{_("Sapper")}}</h3>
        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and
          strengths, you will understand how you can most effectively show
          yourself in the Armed Forces, and you will get During the one-week
          training, you will feel your weaknesses and strengths, you will
          understand how you can most effectively show yourself in the Armed
          Forces, and you will get During the one-week training, you will feel
          your weaknesses and strengths, you will understand what you can do
          most effectively in the Armed Forces and you will get")}}
        </p>
        {% include 'button.html' %}
      </div>

      <img
        class="sm:block object-cover lg:w-72 h-80"
        src="{{ url_for('static',filename='img/vacanies/driver.png') }}"
        alt="Sapper" />
    </div>
    <div
      class="lg:w-[700px] w-72 lg:flex-row flex-col-reverse flex gap-8 border-t border-[--main-yellow] pt-6 flex-none px-2">
      <div class="flex-1 flex items-start flex-col gap-5">
        <div
          class="frame-border w-mx relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
          07
        </div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">
          {{_("Radio electronic combat operator")}}
        </h3>
        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and
          strengths, you will understand how you can most effectively show
          yourself in the Armed Forces, and you will get During the one-week
          training, you will feel your weaknesses and strengths, you will
          understand how you can most effectively show yourself in the Armed
          Forces, and you will get During the one-week training, you will feel
          your weaknesses and strengths, you will understand what you can do
          most effectively in the Armed Forces and you will get")}}
        </p>
        {% include 'button.html' %}
      </div>

      <img
        class="sm:block object-cover lg:w-72 h-80"
        src="{{ url_for('static',filename='img/vacanies/driver.png') }}"
        alt="Radio electronic combat operator" />
    </div>
    <div
      class="lg:w-[700px] w-72 lg:flex-row flex-col-reverse flex gap-8 border-t border-[--main-yellow] pt-6 flex-none px-2">
      <div class="flex-1 flex items-start flex-col gap-5">
        <div
          class="frame-border w-mx relative px-4 text-xl bg-transparent text-[--main-yellow] uppercase border-none cursor-pointer">
          08
        </div>
        <h3 class="mb-3 text-xl text-[--main-yellow]">
          {{_("The liaison officer")}}
        </h3>
        <p class="leading-5">
          {{_("During the one-week training, you will feel your weaknesses and
          strengths, you will understand how you can most effectively show
          yourself in the Armed Forces, and you will get During the one-week
          training, you will feel your weaknesses and strengths, you will
          understand how you can most effectively show yourself in the Armed
          Forces, and you will get During the one-week training, you will feel
          your weaknesses and strengths, you will understand what you can do
          most effectively in the Armed Forces and you will get")}}
        </p>
        {% include 'button.html' %}
      </div>

      <img
        class="sm:block object-cover lg:w-72 h-80"
        src="{{ url_for('static',filename='img/vacanies/driver.png') }}"
        alt="The liaison officer" />
    </div>
  </div>

  <div class="flex items-center">
    <p class="text-[--main-yellow]">{{_("Scroll")}}</p>
    <div class="w-10 h-10">
      <svg viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M20 12L16 8M20 12L16 16" stroke="#ffc823" stroke-width="0.672" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      </div>
    </div>
  </div>
</div>
