<div class="w-full h-full pt-[90px] bg-[--main-black]">
  <div class="container  mx-auto px-2 lg:px-10 xl:px-16 bg-no-repeat">
    <div class="sm:max-w-80 md:max-w-full mx-auto flex flex-col justify-between gap-6">
      <h2 class="text-4xl md:text-6xl text-[--main-grey-87] text-center mb-5">
        {{_("VACANCIES")}}
      </h2>

      <div class="hidden md:flex flex-row flex-wrap gap-5 justify-center">
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Electrician driver")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Accountant 1st category")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Photogrammetry operator")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("FPV technician at RUBpAK")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("FPV technician in the workshop")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("UAV aircraft mechanic")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Sanitary Instructor")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Medical assistant")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Combat medic")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Explosives technician")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Master of Engineering Munitions")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Control operator")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Decryptor")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Electronic Warfare/ELINT operator")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Anti-aircraft gunner")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Driver for a logistics")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Cook")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Clerk")}}</span>
        </div>
        <div class="w-[250px] h-[140px] border border-[--main-grey] text-center flex flex-col justify-center">
          <span class="text-[--main-white-87] text-xl font-semibold"
            >{{_("Electrician")}}</span>
        </div>
      </div>
      <div
        class="flex md:hidden flex-col">
          <div class="mt-2">
            <ul class="list-disc pl-5">
              <li class="text-[--main-white-87] text-xl">{{_("Electrician driver")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Accountant 1st category")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Photogrammetry operator")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("FPV technician at RUBpAK")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("FPV technician in the workshop")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("UAV aircraft mechanic")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Sanitary Instructor")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Medical assistant")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Combat medic")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Explosives technician")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Master of Engineering Munitions")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Control operator")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Decryptor")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Electronic Warfare/ELINT operator")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Anti-aircraft gunner")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Driver for a logistics")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Cook")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Clerk")}}</li>
              <li class="text-[--main-white-87] text-xl">{{_("Electrician")}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex justify-center pt-[90px] pb-[120px]">
        <a
          href="/join"
          class="relative inline-flex items-center justify-start py-3 px-12 overflow-hidden font-semibold text-white transition-all duration-150 ease-in-out bg-[--main-grey-opacity] group">
          <span
            class="absolute bottom-0 left-0 w-full h-1 transition-all duration-150 ease-in-out bg-[--main-green] group-hover:h-full"></span>
          <span
            class="absolute bottom-0 left-0 w-full h-1 transition-all duration-150 ease-in-out bg-[--main-green] group-hover:bg-[--main-grey]"></span>
          <span
            class="relative w-full text-center text-base text-[--main-white-87] transition-colors duration-200 ease-in-out group-hover:text-black"
            >{{_("SUBMIT APPLICATION")}}</span
          >
        </a>
      </div>
    </div>
  </div>
</div>
